footer div {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 20px;
    align-items: center;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    align-items: center;
    padding-left: 3rem;
}
.social-links {
    display: flex;
    flex-direction: row;
}
.social-links span {
    font-size: 3rem;
    text-decoration: none;
    color: whitesmoke;
    margin-right: 5px;
}
.social-links a {
    text-decoration: none;
    font-size: 2rem;
    margin-right: 5px;
}

.footer-title span {
    color: white;
}

@media only screen and (max-width: 769px) {
    .home-footer {
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
    }
    .footer p {
        font-size: 12px;
    }
}
