html {
    font-size: 16px;
}
* {
    padding: 0;
    margin: 0;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: #030000;
    overflow-x: hidden;
}
/* styles/loading.css */
.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    z-index: 9999;
}

.loading-bar {
    width: 80%;
    height: 20px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.loading-progress {
    height: 100%;
    background: #00bfff;
    width: 0%;
    transition: width 0.3s ease;
}

.blur {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 40%;
    filter: blur(10px);
}
.blackhole {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    position: absolute;
    top: -320px;
    left: 0;
    object-fit: cover;
    z-index: -20;
    filter: brightness(0.8);
    pointer-events: none !important;
    -webkit-pointer-events: none !important;
}
.protection {
    background-color: transparent;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9292929;
    pointer-events: none !important;
}
#all {
    position: relative;
    transition: transform 2s ease;
}

body.no-scroll {
    overflow: hidden;
}

#spaceBackground {
    position: relative;
    transition: transform 2s ease;
    height: 100vh;
    width: 100vw;
}

.NameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 35%;
    left: 55%;
}

.FirstNames,
.LastNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.FirstName,
.FirstNameStars {
    width: 21rem;
    height: auto;
}

.LastName {
    width: 35rem;
    height: auto;
}
.LastNameStars {
    width: 34rem;
    height: auto;
    padding-right: 12px;
}
.FirstNameStars,
.LastNameStars {
    position: absolute;
    animation: twinkle 0.7s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.satelliteElements {
    transform: translate(40rem, 10rem);
    width: 13rem;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.satelliteElements:hover {
    transform: translate(40rem, 10rem) scale(1.1) rotate(-60deg);
}

.shuttleElements {
    transform: translate(24rem, 17rem);
    width: 16rem;
    height: 16rem;
    position: relative;
}
.shuttleElements:hover {
    transform: translate(24rem, 17rem) scale(1.1);
}
.shuttleImg {
    width: 15rem;
    height: auto;
}

.ufoElements {
    transform: translate(8rem, 17rem);
    width: 14rem;
    height: 14rem;
    position: relative;
    border-radius: 50%;
}
.ufoElements:hover {
    transform: translate(8rem, 17rem) scale(1.1);
}
.ufoImg {
    width: 14rem;
}
.names {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 2px;
    pointer-events: none;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 7687686;
}

.shuttleTitle {
    top: 8%;
}
.satelliteTitle {
    top: -6rem;
}
.ufoTitle {
    top: 1.5rem;
}

.spaceShipsImgs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.satelliteImg {
    width: 13rem;
    height: auto;
    transform: translate(-50%, -50%) rotate(-60deg);
}
.planets {
    width: 105rem;
    height: 105rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 50%;
}

.mercuryDiv {
    width: 40rem;
    height: 40rem;
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}
.mercuryElements {
    width: 6.7rem;
    height: 6.7rem;
    transform: translate(22rem, -13rem);
    border-radius: 50%;
}

.venusDiv {
    width: 65rem;
    height: 65rem;
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}
.venusElements {
    width: 8rem;
    height: 8rem;
    transform: translate(33rem, -20rem);
    border-radius: 50%;
    overflow: hidden;
}

.venusImg {
    width: 12rem;
    height: 8.5rem;
    border-radius: 50%;
}
/* .venusName {
    transform: translate(33rem, -20rem);
    position: absolute;
    z-index: 100;
} */

.earthDiv {
    width: 90rem;
    height: 90rem;
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}
.earthElements {
    width: 9.7rem;
    height: 9.7rem;
    transform: translate(44rem, -25rem);
    border-radius: 50%;
}
.planetsImgs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 50%;
}

.earthImg {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.mercuryImg {
    width: 16rem;
    height: 11rem;
}

.planetsElements:hover {
    cursor: pointer;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        filter 0.2s ease;
    filter: brightness(1);
}
.earthElements:hover {
    transform: translate(44rem, -25rem) scale(1.1);
}
.mercuryElements:hover {
    transform: translate(22rem, -13rem) scale(1.1);
}
.venusElements:hover {
    transform: translate(33rem, -20rem) scale(1.1);
}
.sunlight {
    box-shadow: 0 0 35px 10px rgba(255, 221, 0, 0.4); /* Subtle immediate glow */
    filter: drop-shadow(
        0 0 15px rgba(255, 221, 0, 0.6)
    ); /* Creates a glowing effect around the image */
    transition: 0.5s ease-in-out;
}

.earthElements.planetlight {
    box-shadow: -10px 11px 19px 1px rgba(255, 221, 0, 0.5);
}

.venusElements.planetlight {
    box-shadow: -8px 7px 19px 1px rgba(255, 221, 0, 0.4);
}

.mercuryElements.planetlight {
    box-shadow: -8px 8px 19px 0px rgba(255, 221, 0, 0.4);
}

/* Initial state of the planet images */
.planetsElements .planetsImgs {
    transition:
        filter 1s ease-out,
        -webkit-mask-image 0.5s ease-out,
        mask-image 0.5s ease-out;
}

.planetsElements.planetlight .spaceShipsImgs {
    filter: drop-shadow(0px 0px 0px rgba(255, 221, 0, 0.4));

    -webkit-filter: drop-shadow(0px -5px 5px rgba(255, 221, 0, 0.4));

    display: inline-block;
}

#all .sunCon {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 99;
}
.sunCon .sun {
    width: 25.5rem;
    height: 25.5rem;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 3rem;
    color: white;
    background-color: black;
    position: absolute;
    top: 10%;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    html {
        font-size: 6px;
    }

    .blackhole {
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
        position: absolute;
        top: -44.5vh;
        left: 0;
        object-fit: cover;
        z-index: -20;
        pointer-events: none;
    }
    .mercuryName {
        top: -38%;
    }
    .mercuryElements {
        transform: translate(10rem, -20rem);
    }
    .mercuryElements:hover {
        transform: translate(10rem, -20rem) scale(1.1);
    }

    .venusElements {
        position: relative;

        transform: translate(1rem, -32rem);
    }
    .venusName {
        transform: translate(-12rem, 6.5rem);
        position: absolute;
        z-index: 100;
    }
    .venusElements:hover {
        transform: translate(1rem, -32rem) scale(1.1);
    }

    .earthElements {
        transform: translate(7rem, -45rem);
    }

    .earthElements:hover {
        transform: translate(7rem, -45rem) scale(1.1);
    }

    .satelliteElements {
        transform: translate(-5rem, 45rem);
    }

    .satelliteElements:hover {
        transform: translate(-5rem, 45rem) scale(1.1);
    }

    .satelliteImg {
        width: 12rem;
        height: auto;
    }
    .shuttleElements {
        transform: translate(1rem, 32rem);
    }
    .shuttleElements:hover {
        transform: translate(1rem, 32rem) scale(1.1);
    }
    .shuttleImg {
        width: 20rem;
        transform: translate(-10rem, -10rem) rotate(60deg);
    }
    .ufoElements {
        transform: translate(-3rem, 20rem);
    }
    .ufoElements:hover {
        transform: translate(-3rem, 20rem) scale(1.1);
    }
    .ufoImg {
        width: 14rem;
        height: auto;
    }

    .sunlight {
        box-shadow: 0 0 35px 5px rgba(255, 221, 0, 0.4);
    }

    .earthElements.planetlight {
        box-shadow: 1px 6px 9px -1px rgba(255, 221, 0, 0.5);
    }

    .venusElements.planetlight {
        box-shadow: 1px 6px 10px -3px rgba(255, 221, 0, 0.4);
    }

    .mercuryElements.planetlight {
        box-shadow: 1px 8px 9px -2px rgba(255, 221, 0, 0.4);
    }

    .blur {
        width: 100%;
        height: 30rem;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 38%;
        filter: blur(10px);
        display: block;
    }
    .NameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 2;
        top: 36%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .FirstName,
    .LastName {
        animation: namemove 5s alternate;
    }

    #spaceBackground {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100vh;

        align-items: center;
        width: 100vw;
    }

    .planets {
        display: flex;
        position: relative;
        top: 45%;
        overflow: hidden;
        width: 110rem;
        height: 110rem;
        border-radius: 0;
        transform: unset;
    }

    .LastName,
    .LastNameStars {
        margin-top: 2rem;
    }
    .LastNameStars {
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 769px) {
    html {
        font-size: 11.1px;
    }
}

/* tablet only */
@media only screen and (min-width: 900px) {
    html {
        font-size: 9.1px;
    }
}

@media only screen and (min-width: 1100px) and (orientation: landscape) {
    html {
        font-size: 12.1px;
    }
}
@media only screen and (min-width: 1300px) and (orientation: landscape) {
    html {
        font-size: 13.1px;
    }
}
@media only screen and (min-width: 1400px) and (orientation: landscape) {
    html {
        font-size: 13.1px;
    }
}
@media only screen and (min-width: 1500px) and (orientation: landscape) {
    html {
        font-size: 15.1px;
    }
}
@media only screen and (min-width: 1700px) and (orientation: landscape) {
    html {
        font-size: 17.1px;
    }
}
